<p style="color: green"><%= notice %></p>

<%= render @app_user %>

<div>
  <%= link_to "Edit this app user", edit_app_user_path(@app_user) %>
  |
  <%= link_to "Back to app users", app_users_path %>

  <%= button_to "Destroy this app user", @app_user, method: :delete %>
</div>
