<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Dinesh Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    >
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-content">
        <%= render "shared/navbar" %>

      <% if notice %>
        <div class="notification is-success">
          <button class="delete"></button>
          <%= notice %>
        </div>
      <% end %>
      
      <% if alert %>
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= alert %>
        </div>
      <% end %>

      <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-body">
          <div class="container is-fluid is-centered">
            <%= yield %>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
